.magnetLines-container {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);

  justify-items: center;
  align-items: center;

  width: 80vmin;
  height: 80vmin;
  position: relative;
  z-index: 0;
}

.magnetLines-container span {
  display: block;
  transform-origin: center;
  will-change: transform, opacity;
  transform: rotate(var(--rotate));
  transition: transform 0.1s ease-out;
  border-radius: 1px;
}

@media (prefers-reduced-motion: reduce) {
  .magnetLines-container span {
    transition: none;
  }
} 